@page
@model IndexModel
@{
    ViewData["Title"] = "Club Averages";
}

<header>
    <h4>Club Averages</h4>  @*Todo: Replace with logged in user*@
    <h5>@Html.DisplayFor(modelItem => modelItem.PlayerName)</h5>
    <span><a asp-page="/NewPracticeData/NewPracticeData">New Practice Data</a></span>
</header>
<table class="table">
    <thead>
        <tr>
            <th>Club</th>
            <th>Carry</th>
            <th>Total</th>
            <th>Off L</th>
            <th>Off R</th>
            <th># L</th>
            <th># R</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var club in Model.ClubAverages)
        {
            //string selectedRow = "";
            //if (club.ID = Model.ClubID)
            //{
            //    selectedRow = "success";
            //}
            //tr class="@selectedRow ">

        <tr>
            <td>@Html.DisplayFor(modelClub => club.ClubName)</td>
            <td>@Html.DisplayFor(modelClub => club.CarryAveYds)</td>
            <td>@Html.DisplayFor(modelClub => club.TotalAveYds)</td>
            <td>@Html.DisplayFor(modelClub => club.OfflineLeft)</td>
            <td>@Html.DisplayFor(modelClub => club.OfflineRight)</td>
            <td>@Html.DisplayFor(modelClub => club.NumberOfShotsLeft)</td>
            <td>@Html.DisplayFor(modelClub => club.NumberOfShotsRight)</td>
        </tr>
        }
    </tbody>
</table>